# vim:set expandtab shiftwidth=4 filetype=gitattributes:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/sync-header-metadata.git
# ::: :/.gitattributes
#
#

/package.json      -sync-header-metadata
/package-lock.json -sync-header-metadata
/LICENSE           -sync-header-metadata
